@import "./utils/maps";
@import "./utils/mixins";
@import "./utils/variables";
@import "./components/card";
@import "./components/dropdown";
@import "./components/logo";
@import "./components/tag";
@import "./layout/grid";
@import "./layout/search";
@import "./base/animations";
@import "./base/base";

.none{
    display: none;
    animation: display 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;;
}
.large{
    width: 670px;
}
.visible{
    display: flex;
    animation: display 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}