.card{
    width: 380px;
    height: 364px;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        box-shadow: $shadow;
    }
    & img{
        height: 178px;
        background-color: $linseed;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
    }
    &__body{
        display: flex;
        flex-direction: column;
        padding: 2% 3%;
        background-color: $grey;
        border-radius: 0 0 5px 5px;
        height: 185px;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        & h2{
            font-size: 18px;
            font-weight: 400;
            width: 230px;
            height: 42px;
            margin: 1% 0;
        }
        & h3{
            font-size: 18px;
            font-weight: 700;
            margin: 1%;
            padding-left: 9%;
            background: url('../assets/time.svg') no-repeat;
        }
    }
    &__main{
        display: flex;
        font-size: 12px;
        padding-top: 1%;
    }
    &__article{
        list-style: none;
        width: 50%;
        padding: 0;
        margin-top: 0;
    }
    &__text{
        font-family: "roboto", sans-serif;
        width: 170px;
        height: 112.3px;
        text-overflow:ellipsis;
        overflow:hidden;
        // Addition lines for 2 line or multiline ellipsis
        display: -webkit-box !important;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        white-space: normal;
        & p{
            padding-left: 0%;
            margin: 0;
        }
    }   
}