.card{
    width: 380px;
    height: 364px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        box-shadow: $shadow;
    }
    & img{
        height: 178px;
        background-color: $linseed;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
    }
    &__body{
        display: flex;
        flex-direction: column;
        padding: 2% 3%;
        background-color: $grey;
        border-radius: 0 0 5px 5px;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        & h2{
            font-size: 18px;
            font-weight: 400;
        }
        & h3{
            font-size: 18px;
            font-weight: 700;
        }
    }
    &__main{
        display: flex;
        font-size: 12px;
    }
    &__article{
        list-style: none;
        width: 50%;
        padding: 0;
    }
    &__text{
        font-family: "roboto", sans-serif;
        flex: 50%;
    }   
}