
.dropdown{
    width: 180px;
    &__btn{
        width: 170px;
        height: 69px;
        font-size: 18px;
        font-weight: 700;
        border-radius: 5px; 
        border: transparent;
        color: white;
        cursor: pointer;
        background: url("../assets/arrow-down.svg") no-repeat right;
        &:hover{
            box-shadow: $shadow;
        }
        &--open{
            background: url("../assets/arrow-up.svg") no-repeat right;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        width: 667px;
        background-color: $blue;
        padding: 0;
        height: 397px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    &__input{
        background-color: $blue;
        border: none;
        padding: 3%;
        outline: none;
        color: white;
        &::placeholder{
            color: white;
            opacity: 0.7;
        }
    }
    &__close{
        position: fixed;
        right: 4%;
        background: url('../assets/arrow-up.svg') no-repeat center;
        height: 60px;
        width: 60px;
        border: transparent;
        cursor: pointer;
    }
    &__list{
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        
        &__item{
            color: white;
            font-size: 18px;
            font-family: "lato", sans-serif;
            background-color: transparent;
            border: transparent;
            text-align: left;
            margin: 2%;
            width: 185px;
            cursor: pointer;
        }
    }
}

#dropdown-ingredients-button{
    background-color: $blue;
}
#dropdown-appareils-button{
    background-color: $red;
}
#dropdown-ustensiles-button{
    background-color: $green;
}