.tag{
    height: 37px;
    width: fit-content;
    padding: 0 3% 0 1%;
    font-size: 14px;
    font-weight: 700;
    margin-top: 4%;
    margin-right: 4%;
    font-size: 700;
    border: transparent;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background: url("../assets/close.svg") no-repeat right;
    &--ingredients{
        background-color: $blue;
    }
    &:hover{
        box-shadow: $shadow;
    }
}