@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@300;400;500;700&display=swap');
body{
    box-sizing: border-box;
    font-family: "lato", sans-serif;
}
header nav{
    display: flex;
    justify-content: center;
    padding: 3% 2% 2% 2%;
}
main{
    margin: 0 9%;
}


